body{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    border-bottom: 2px solid rgb(246, 243, 243);
    height: 70px;
    width: 100%;
}
header a h3{
    color: #2C7BE5;
    font-size: 24px;
}
header nav{
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items: center;   
}
header nav a{
    color: rgb(35, 33, 33);
    font-size: 15px;
    font-weight: 595;
    align-items: center;
}
header nav a:hover{
    transition-duration: 0.5s;
    transform: scale(1.1);

}

header button{
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 90px;
    border: none;
    border-radius: 8px;
    background-color:#2C7BE5;
;
    color: white;
    font-size: 13px;
    font-weight: 590;
    cursor: pointer;
}
header button:hover{
    transform: scale(1.03);
    transition-duration: 0.3s;
    background-color: #006cf9;
}

main .s1{
   height: 400px;
   width: 100%;
    display: flex ;
    justify-content: center;
    background-color: #fbfbfe;
    align-items: center;
    padding: 30px 0 30px 0;
    border: none;
    
} 

main .s1 .sec1{
    width: 600px;
    height: 100px;
    margin: 0 30px 0 0;
    align-items: center;
    align-items: start;
    margin-bottom: 100px;
}

main .s1 .sec1 h1{
    font-size: 30px;
    font-weight: bolder;
}

.h::after{
    content: "AbhisheK.";
    color: #2C7BE5;
}

main .s1 .sec1 p{
    font-size: 14px;
    font-weight:590;
    color: #869AB8;
}

main .s1 .sec1 button{
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 150px;
    font-size: 13px;
    font-weight: 650;
}

main .s1 .sec1 button:hover{
    cursor: pointer;
}

main .s1 .sec1 .button .b1{ 
    margin-right: 20px;
    background-color: #2C7BE5;
    color: white;
}
main .s1 .sec1 .button .b1:hover{
    background-color: #006cf9;
    transform: scale(1.03);
    transition-duration: 0.3s;
}
main .s1 .sec1 .button .b2:hover{
    background-color: rgb(222, 220, 220);
    transform: scale(1.03);
    transition-duration: 0.3s;
}
main .s1 figure{
   margin-left: 150px;
}


main .sec2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 110px;
    height: 160px;
    margin-top: 50px;
    
}
main .sec2 h3{
    font-size: 17px;
    font-weight: 800;
}
main .sec2 p{
    color: #869AB8;
    font-size: 12px;
}
footer{
    height: 200px;
    background-color: #F1F4F8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
    padding: 60px 100px 60px 170px;   
}

footer  .f1 h3{
    color: #2C7BE5;
    font-size: 20px;
}

footer  .f1 p{
    font-size: 14px;
    font-weight:590;
    color: #869AB8;
}
footer  .f1 .img2,.img3,.img4{
    margin-left: 10px;
}
footer  .f1 img:hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
}

footer   p{
    font-size: 8px;
    font-weight:590;
    color: #8096b6;
}
footer   a{
    font-size: 12px;
    font-weight:500;
    color: #869AB8;
}
footer   a:hover{
    color: #3e87e6
}
